.posts {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 60%;
}

@media (max-width:767px) {
    .container {
        width: 80%;
    }
}

@media (max-width:567px) {
    .container {
        width: 90%;
    }
}