#postCard {
    width: 100%;

}
.post {
    background-color: #fff;
    border-radius: 6px;
    font-size: 18px;
    padding: 1rem;
    text-align: left;
    margin: 2rem 0;
    position: relative;
}
.title {
font-size: 14px;
font-weight: 500;
margin: 0;
}
.body {
    font-size: 14px;
    margin: 1rem 1rem;
}
.EditBody {
    width: 90%;
    resize: none;
    font-size: .8rem;
    padding: .4rem 1rem;
    margin: 1rem 1rem;
    height: fit-content;
}
.iconP {
    border-radius: 50%;
    font-size: 16px;
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: .5rem;
}
.iconP:hover {
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
}
.imgPost {
    width: 4rem;
    height: 2.8rem;
    border-radius: 50%;
}
.postIcons {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    color: gray;
}
.postIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 2.3rem;
    height: 2.3rem;
    padding: .6rem;
    border-radius: 50%;
}
.postIcon:hover {
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
}
.love {
    color: red;
}
.open {
    color: rgb(43, 113, 226);
}

@media (max-width:767px) {
    .container {
        width: 80%;
    }
    .imgPosts {
        width: 2.3rem !important;
        height: 2.5rem !important;
    }
}

@media (max-width:567px) {
    .container {
        width: 90%;
    }
    *{
        font-size: 14px;
    }
}